name: Test updates to meeting-1on1-action

on:
  workflow_dispatch:
    inputs:
      configuration-path:
        description: 'The path for the issue configuration'
        default: '.github/101.yml'
        required: true
      scheduled-day:
        description: 'When is the meeting?'
        default: 'today'
        required: false

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: |
          npm install
          npm run build

      - name: Test action
        uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: ${{ inputs.configuration-path }}
          scheduled-day: ${{ inputs.scheduled-day }}
